@import "style.css";

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows:  1fr 1fr;
  grid-template-columns:  100%;
}


.img{
  max-width: 100%;
}


.box1{
  height:auto;
  width:100%;
}

.box2{
  height:auto;
  width:100%;
}

.box3{
  height: auto;
  width: 100%;
}

.container{
  height: auto;
  width: 100%;
}
